@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* font-family: 'MedievalSharp', cursive; */

@font-face {
    font-family: 'TheCenturion';
    src: url('gui-fonts/TheCenturion.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}


/* ========================================================================================================== */


.nh-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    
    background-image: url(gui-imgs/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.nh-container img{
    margin-bottom: -3px;
}

.nh-titulo{
    width: 460px;
    height: 500px;
    line-height: 215px;
    font-size: 100px;
    font-family: 'TheCenturion';
    
    
}

.nh-titulo h1 {
    text-align: center;
    color: #DCDEDF;
}

.nh-titulo h1 span {
    color: #BD8D4C;
}


/* ========================================================================================================== */


.his-container {
    background-color: #0F0F14;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 60px;
    
}

.his-texto h2 {
    margin: 50px;
    width: 1552px;
    height: 310px;

    font-family: 'MedievalSharp';
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.his-texto p {
    font-size: 30px;
    color: #BD8D4C;
}